<%- include("partials/header"); -%>
  <div class="content">
    <% posts.forEach(function(post){ %>
      <div class="row">
        <div class="col-sm-12">
          <h1><%= post.title %></h1>
          <p>
          <%  if(post.content.length > 99){ %>
            <%= post.content.substring(0,100) + "..." %>
            <a class="readMore" href="/post/<%= post._id %>">Read More</a>
          <% }else{ %>
            <%= post.content %>
          <% } %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
<%- include("partials/footer"); -%>
